html {
  height: 100%;
  width: 100%;
}

#body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:100%;
}

#modifier {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.8s;
  background-position: center;
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 100px;
  position: absolute;
}

#modifier:hover {
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.8s;
  background-position: center;
  background-size: cover;
}

#modifier:focus {
  outline-color: transparent;
  outline-style: solid;
}

#modifier2 {
  left:0px;
  top:0px;
  background-image: url("return.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: fixed;
   z-index: 999 ;
        }

.body1 {
  background-color: rgb(255, 255, 255);
  background-image: url("");
}

.body2 {
  background-image: url("Mondstadt.webp");
  backdrop-filter: blur(5px);
  height:100%;
  width:100%;
}

.body3 {
  background-image: url("LiyueHarbor.jpeg");
  backdrop-filter: blur(5px);
  height:100%;
}


.button1 {
  background-image: url('Fandom.webp');
  left: 22%;
  top: 40%;
}

.button1:hover {
  background-image: url('Wind.png');
}

.button1:focus {
  box-shadow: 0 0 0 4px #64a692;
}

.button2 {
  background-image: url('Liyue.webp');
  left: 33%;
  top: 40%;
}

.button2:hover {
  background-image: url('Rock.png');
}

.button2:focus {
  box-shadow: 0 0 0 4px #dba329;
}

.button3 {
  background-image: url('Inazuma.webp');
  top: 40%;
  left:44%;
}

.button3:hover {
  background-image: url('Electro.png');
}

.button3:focus {
  box-shadow: 0 0 0 4px #a17eb4;
}

.button4 {
  background-image: url('Sumeru.webp');
  top: 40%;
  left: 55%;
}

.button4:hover {
  background-image: url('Grass.png');
}

.button4:focus {
  box-shadow: 0 0 0 4px #96b135;
}

.button5 {
  background-image: url('Fontaine.webp');
  top: 40%;
  left: 66%;
}

.button5:hover {
  background-image: url('Water.png');
}

.button5:focus {
  box-shadow: 0 0 0 4px #46a5ce;
}

.Menu {
  text-align: center;
  font-size:80px;
  padding: 10px 20px;
  margin-top: 200px;
  font-family: "GenshinFont";
}

.Map2 {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.HutaoButton {
  background-image: url('Hutao.webp');
  left:1100px;
  top:600px;
  border: none;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
.HutaoButton:hover {
  background-image: url('Hutao2.png');
}

.GanyuButton{
  background-image: url('Ganyu1.png');
  left:10px;
  top: 10px;
  border: none;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
.GanyuButton:hover {
  background-image: url('Ganyu2.png');
}

.Hutao3{
  left:65%;
  position: absolute;
  height:100%; 
  width: auto;
  display: none;
}

.Ganyu3{
  left:65%;
  position: absolute;
  height:100%; 
  width: auto;
  display: none;
}

#header{
  color: white;
  text-align: center;
  font-size: 80px;
  padding: 10px 20px;
  margin-top: 50px;
  font-family: "GenshinFont";
}

#Poker{
  left:25%;
  top: 40%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.8s;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 0px;
  position: absolute;
  display: none;
}
#GCDTP{
  left:25%;
  top: 40%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: 0.8s;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 0px;
  position: absolute;
  display: none;
}


.Map1 {
  left:-50px;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: -1;
}


.AmberButton {
  background-image: url('Amber1.png');
  left:200px;
  top:200px;
  border: none;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
.AmberButton:hover {
  background-image: url('Amber2.png');
}

.EulerButton{
  background-image: url('Euler1.png');
  left:500px;
  top: 500px;
  border: none;
  position: relative;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
}
.EulerButton:hover {
  background-image: url('Euler2.png');
}

.Amber3{
  left:65%;
  position: absolute;
  height:100%; 
  width: auto;
  display: none;
}

.Euler3{
  left:65%;
  position: absolute;
  height:100%; 
  width: auto;
  display: none;
}


#paragraph{
  color: white;
   text-align: center;
  font-size:50px;
  padding: 10px 20px;
  margin-top: 50px;
  font-family: "GenshinFont";
}
